@font-face {
  font-family: "Effra";
  src: url("./assets/fonts/effra-Font/Effra_Std_Bd.ttf") format("truetype"),
    url("./assets/fonts/effra-Font/Effra_Std_Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Effra";
  src: url("./assets/fonts/effra-Font/Effra_Regular.ttf") format("truetype"),
    url("./assets/fonts/effra-Font/Effra_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Good Dog New";
  src: url("./assets/fonts/good-dog-font/good_dog.ttf") format("truetype"),
    url("./assets/fonts/good-dog-font/good_dog.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1vw;
  @media (max-width: 992px) {
    font-size: calc(100vw / 992 * 14);
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 768 * 14);
  }
  @media (max-width: 600px) {
    font-size: calc(100vw / 600 * 14);
  }
  @media (max-width: 480) {
    font-size: calc(100vw / 480 * 16);
  }
  @media (max-width: 375px) {
    font-size: calc(100vw / 375 * 14);
  }
}
$transition: all 0.3s linear;

body {
  font-family: "Effra", sans-serif;
  font-size: max(16px, 1rem);
}

a {
  text-decoration: none;
  transition: $transition;
}

ul {
  list-style-type: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: $transition;
  border-radius: 40px;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 3.563rem;
}

.nav-header {
  position: sticky;
  padding: 1.875rem 6rem;
  // background: #000000;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      img {
        height: 40px;
      }
      h4 {
        color: #ffffff;
        font-size: 1.5rem;
        font-family: "Inter", sans-serif;
        font-weight: 700;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      margin-left: 8rem;
      li {
        overflow: hidden;
        div {
          a {
            color: #ffffff;
            font-size: 1.125rem;
            &:hover {
              color: #a8ff35;
            }
          }
        }
      }
    }
    .btns {
      display: flex;
      align-items: center;
      overflow: hidden;
      button {
        font-size: 1.125rem;
        &:first-child {
          color: #ffffff;
          &:hover {
            color: #a8ff35;
          }
        }
        &:last-child {
          color: #000000;
          background: #ffffff;
          border-radius: 40px;
          padding: 0 2rem;
          height: 2.625rem;
          position: relative;
          overflow: hidden;
          span {
            position: relative;
            z-index: 2;
          }
          div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #a8ff35;
            transition: $transition;
            transform: translateY(100%);
          }
          &:hover {
            div {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

.hero {
  background: #000000;
  height: 100vh;
  background-image: url(./assets/ornament.svg);
  background-size: cover;
  animation: backgroundScroll 7s linear infinite forwards;
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    // margin-top: 14vh;
    min-height: 57vh;
    h1 {
      color: #ffffff;
      font-size: 4.5rem;
      font-weight: 900;
      max-width: 43.75rem;
      line-height: 5.04rem;
    }
    p {
      color: #8b8b8b;
      font-size: 1.125rem;
      max-width: 34.75rem;
      line-height: 1.688rem;
      margin-top: 0.5rem;
    }
    &-get_started {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-top: 1.75rem;
      margin-left: 8rem;
      button {
        color: #000000;
        background: #a8ff35;
        font-weight: 700;
        &:hover {
          background: #8cc83a;
          border-radius: 10px;
        }
      }
      div {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        gap: 0.5rem;
        span {
          color: #ffffff;
          font-family: "Good Dog New", sans-serif;
          font-size: 0.875rem;
          max-width: 5.813rem;
          line-height: 0.875rem;
          transform: rotate(6deg);
        }
      }
    }
  }
}

.new-tabs {
  background: #a8ff35;
  padding: 8.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: 4.5rem;
    font-weight: 900;
    max-width: 43.75rem;
    line-height: 5.04rem;
  }
  p {
    font-size: 1.125rem;
    max-width: 41.625rem;
    line-height: 1.688rem;
    margin-top: 3.75rem;
    text-align: center;
  }
  &-center {
    display: flex;
    align-items: center;
    margin-top: 3.75rem;
    gap: 1.75rem;
    &-info {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 0.5rem;
      .char {
        transform: translateY(100%);
      }
      img {
        transform: scale(0);
      }
      span {
        font-family: "Good Dog New", sans-serif;
        font-size: 0.875rem;
        max-width: 5.813rem;
        line-height: 0.875rem;
        transform: rotate(6deg);
        text-align: center;
      }
    }
    .right {
      flex-direction: column-reverse;
      align-items: baseline;
      .char {
        transform: translateY(-100%);
      }
    }
    &-box {
      background: #f5f5f5;
      border-radius: 16px;
      position: relative;
      width: 31.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 12.5rem;
      img {
        position: absolute;
        height: 5.125rem;
        &:first-child {
          z-index: 2;
        }
        &:nth-child(2) {
          top: -61vh;
          left: -15rem;
          transform: rotate(-4deg);
          z-index: 4;
        }
        &:nth-child(3) {
          top: -56vh;
          left: -4.75rem;
          transform: rotate(2deg);
          z-index: 3;
        }
        &:nth-child(4) {
          top: -61vh;
          transform: rotate(-2deg);
          left: 8rem;
          z-index: 2;
        }
        &:nth-child(5) {
          top: -56vh;
          left: 22rem;
          transform: rotate(2deg);
          z-index: 1;
        }
        &:not(:first-child) {
          height: 5.15rem;
        }
      }
    }
  }
}

.increase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8.75rem 2rem;
  p {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.75rem;
    max-width: 72rem;
    span {
      color: #adadad;
    }
  }
}

.startups {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 8.75rem 2rem;
  text-align: center;
  h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.75rem;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 70%;
    img {
      transform: translateY(100%);
      opacity: 0;
      width: 100%;
    }
    @media (max-width: 998px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.platforms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 8.75rem 2rem;
  background: #fafafa;
  padding-bottom: 4rem;
  text-align: center;
  h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.75rem;
  }
  &-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    span {
      height: 7.75rem;
      width: 7.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      img {
        position: relative;
        z-index: 2;
        transform: translateY(100%);
        opacity: 0;
        width: 70%;
      }
      &:hover {
        div {
          transform: translateY(0);
        }
      }
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #a8ff35;
      transition: $transition;
      transform: translateY(100%);
    }
  }
}

.tweets {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 8.75rem;
  background: #fafafa;
  &-shots {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    img {
      transform: translateY(100px);
      opacity: 0;
      width: 90%;
    }
  }
  button {
    position: relative;
    background: #000000;
    color: #ffffff;
    margin-top: 5rem;
    overflow: hidden;
    border: 1px solid #000000;
    transform: translateY(100%);
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      transition: $transition;
      transform: translateY(100%);
    }
    span {
      position: relative;
      z-index: 2;
    }
    &:hover {
      color: #000000;
      border-color: #000000;
      background: transparent;
      div {
        transform: translateY(0);
      }
    }
  }
}

.deals {
  background: #000000;
  padding: 8.75rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.75rem;
  }
  &-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    margin-top: 2.5rem;
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  &-card {
    height: 39rem;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &-top {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      h3 {
        font-size: 2.25rem;
      }
      p {
        font-size: 1.125rem;
        padding-top: 0.25rem;
      }
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    &-cost {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      overflow: hidden;
      h2 {
        color: #000000;
        transform: translateY(100%);
        opacity: 0;
      }
      h4 {
        font-size: 1.125rem;
        transform: translateY(200%);
        opacity: 0;
      }
    }
    ul {
      margin-top: 1rem;
      li {
        span {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        font-size: 1.125rem;
        margin-bottom: 1.688rem;
        overflow: hidden;
        span {
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }
    &.regular {
      background: #a8ff35;
      button {
        color: #ffffff;
        background: #000000;
        div {
          background: #ffffff;
        }
        &:hover {
          color: #000000;
          border-color: #000000;
          div {
            transform: translateY(0);
          }
        }
      }
    }
    button {
      position: absolute;
      background: #a8ff35;
      bottom: 2rem;
      left: 2rem;
      right: 2rem;
      overflow: hidden;
      div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #8cc83a;
        transition: $transition;
        transform: translateY(100%);
      }
      span {
        position: relative;
        z-index: 2;
      }
      &:hover {
        div {
          transform: translateY(0);
        }
      }
    }
    .char {
      transform: translateY(100%);
    }
  }
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-direction: column;
  background: #a8ff35;
  padding: 8.75rem 2rem;
  h1 {
    font-size: 4.5rem;
    font-weight: 900;
    max-width: 46.25rem;
    line-height: 5.04rem;
    text-align: center;
    span {
      color: #87d322;
    }
  }
  button {
    position: relative;
    background: #000000;
    color: #ffffff;
    overflow: hidden;
    border: 1px solid #000000;
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      transition: $transition;
      transform: translateY(100%);
    }
    span {
      position: relative;
      z-index: 2;
    }
    &:hover {
      color: #000000;
      border-color: #000000;
      background: transparent;
      div {
        transform: translateY(0);
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 5rem;
  .logo {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
    img {
      height: 40px;
    }
    h4 {
      font-size: 1.5rem;
      font-family: "Inter", sans-serif;
      font-weight: 700;
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    li {
      overflow: hidden;
      font-size: 1.125rem;
      transition: $transition;
      &:hover {
        a {
          color: #a8ff35;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 5rem 2rem;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 5rem;
    ul {
      flex-direction: column;
    }
  }
}

.wrapper,
.word {
  overflow: hidden;
}

// scroll reveal animation
.reveal {
  animation: slide-in 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(3ms * var(--char-index) + 1000ms);
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -100%;
  }
}
