@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "Effra";
  src: url("./assets/fonts/effra-Font/Effra_Std_Bd.ttf") format("truetype"), url("./assets/fonts/effra-Font/Effra_Std_Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("./assets/fonts/effra-Font/Effra_Regular.ttf") format("truetype"), url("./assets/fonts/effra-Font/Effra_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Good Dog New";
  src: url("./assets/fonts/good-dog-font/good_dog.ttf") format("truetype"), url("./assets/fonts/good-dog-font/good_dog.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1vw;
}
@media (max-width: 992px) {
  html {
    font-size: 1.4112903226vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.8229166667vw;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 2.3333333333vw;
  }
}
@media (max-width: 480) {
  html {
    font-size: 3.3333333333vw;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 3.7333333333vw;
  }
}

body {
  font-family: "Effra", sans-serif;
  font-size: max(16px, 1rem);
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
}

ul {
  list-style-type: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 40px;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 3.563rem;
}

.nav-header {
  position: sticky;
  padding: 1.875rem 6rem;
}
.nav-header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header .navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.nav-header .navbar .logo img {
  height: 40px;
}
.nav-header .navbar .logo h4 {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.nav-header .navbar ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-left: 8rem;
}
.nav-header .navbar ul li div {
  overflow: hidden;
}
.nav-header .navbar ul li div a {
  color: #ffffff;
  font-size: 1.125rem;
}
.nav-header .navbar ul li div a:hover {
  color: #a8ff35;
}
.nav-header .navbar .btns {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.nav-header .navbar .btns button {
  font-size: 1.125rem;
}
.nav-header .navbar .btns button:first-child {
  color: #ffffff;
}
.nav-header .navbar .btns button:first-child:hover {
  color: #a8ff35;
}
.nav-header .navbar .btns button:last-child {
  color: #000000;
  background: #ffffff;
  border-radius: 40px;
  padding: 0 2rem;
  height: 2.625rem;
  position: relative;
  overflow: hidden;
}
.nav-header .navbar .btns button:last-child span {
  position: relative;
  z-index: 2;
}
.nav-header .navbar .btns button:last-child div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a8ff35;
  transition: all 0.3s linear;
  transform: translateY(100%);
}
.nav-header .navbar .btns button:last-child:hover div {
  transform: translateY(0);
}

.hero {
  background: #000000;
  height: 100vh;
  background-image: url(./assets/ornament.svg);
  background-size: cover;
  animation: backgroundScroll 7s linear infinite forwards;
}
.hero .lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 57vh;
}
.hero-content h1 {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 900;
  max-width: 43.75rem;
  line-height: 5.04rem;
}
.hero-content p {
  color: #8b8b8b;
  font-size: 1.125rem;
  max-width: calc(43.75rem - 200px);
  line-height: 1.688rem;
  margin-top: 0.5rem;
}
.hero-content-get_started {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.75rem;
  margin-left: 8rem;
}
.hero-content-get_started button {
  color: #000000;
  background: #a8ff35;
  font-weight: 700;
}
.hero-content-get_started button:hover {
  background: #8cc83a;
  border-radius: 10px;
}
.hero-content-get_started div {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 0.5rem;
}
.hero-content-get_started div span {
  color: #ffffff;
  font-family: "Good Dog New", sans-serif;
  font-size: 0.875rem;
  max-width: 5.813rem;
  line-height: 0.875rem;
  transform: rotate(6deg);
}

.new-tabs {
  background: #a8ff35;
  padding: 8.75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.new-tabs h1 {
  font-size: 4.5rem;
  font-weight: 900;
  max-width: 43.75rem;
  line-height: 5.04rem;
}
.new-tabs p {
  font-size: 1.125rem;
  max-width: 41.625rem;
  line-height: 1.688rem;
  margin-top: 3.75rem;
  text-align: center;
}
.new-tabs-center {
  display: flex;
  align-items: center;
  margin-top: 3.75rem;
  gap: 1.75rem;
}
.new-tabs-center-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;
}
.new-tabs-center-info span {
  font-family: "Good Dog New", sans-serif;
  font-size: 0.875rem;
  max-width: 5.813rem;
  line-height: 0.875rem;
  transform: rotate(6deg);
  text-align: center;
}
.new-tabs-center .right {
  flex-direction: column-reverse;
  align-items: baseline;
}
.new-tabs-center-box {
  background: #f5f5f5;
  border-radius: 16px;
  position: relative;
  width: 31.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
}
.new-tabs-center-box img {
  position: absolute;
  height: 5.125rem;
}
.new-tabs-center-box img:first-child {
  z-index: 2;
}
.new-tabs-center-box img:nth-child(2) {
  top: -61vh;
  left: -15rem;
  transform: rotate(-4deg);
  z-index: 4;
}
.new-tabs-center-box img:nth-child(3) {
  top: -56vh;
  left: -4.75rem;
  transform: rotate(2deg);
  z-index: 3;
}
.new-tabs-center-box img:nth-child(4) {
  top: -61vh;
  transform: rotate(-2deg);
  left: 8rem;
  z-index: 2;
}
.new-tabs-center-box img:nth-child(5) {
  top: -56vh;
  left: 22rem;
  transform: rotate(2deg);
  z-index: 1;
}
.new-tabs-center-box img:not(:first-child) {
  height: 5.15rem;
}

.increase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8.75rem 0;
}
.increase p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.75rem;
  max-width: 72rem;
}
.increase p span {
  color: #adadad;
}

.startups {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 8.75rem 0;
}
.startups h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.75rem;
}
.startups-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.platforms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 8.75rem 0;
  background: #fafafa;
  margin-bottom: 4rem;
}
.platforms h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.75rem;
}
.platforms-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.platforms-icons span {
  height: 7.75rem;
  width: 7.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.platforms-icons span img {
  position: relative;
  z-index: 2;
}
.platforms-icons span:hover div {
  transform: translateY(0);
}
.platforms-icons div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a8ff35;
  transition: all 0.3s linear;
  transform: translateY(100%);
}

.tweets {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 8.75rem;
}
.tweets-shots {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.tweets button {
  position: relative;
  background: #000000;
  color: #ffffff;
  margin-top: 5rem;
  overflow: hidden;
  border: 1px solid #000000;
}
.tweets button div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: all 0.3s linear;
  transform: translateY(100%);
}
.tweets button span {
  position: relative;
  z-index: 2;
}
.tweets button:hover {
  color: #000000;
  border-color: #000000;
  background: transparent;
}
.tweets button:hover div {
  transform: translateY(0);
}

.deals {
  background: #000000;
  padding: 8.75rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.deals h2 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.75rem;
}
.deals-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  margin-top: 2.5rem;
}
.deals-card {
  height: 40rem;
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}
.deals-card-top {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.deals-card-top h3 {
  font-size: 2.25rem;
}
.deals-card-top p {
  font-size: 1.125rem;
  padding-top: 0.25rem;
}
.deals-card-cost {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.deals-card-cost h2 {
  color: #000000;
}
.deals-card-cost h4 {
  font-size: 1.125rem;
}
.deals-card ul {
  margin-top: 1rem;
}
.deals-card ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.125rem;
  margin-bottom: 1.688rem;
}
.deals-card.regular {
  background: #a8ff35;
}
.deals-card.regular button {
  color: #ffffff;
  background: #000000;
}
.deals-card.regular button div {
  background: #ffffff;
}
.deals-card.regular button:hover {
  color: #000000;
  border-color: #000000;
}
.deals-card.regular button:hover div {
  transform: translateY(0);
}
.deals-card button {
  position: absolute;
  background: #a8ff35;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  overflow: hidden;
}
.deals-card button div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8cc83a;
  transition: all 0.3s linear;
  transform: translateY(100%);
}
.deals-card button span {
  position: relative;
  z-index: 2;
}
.deals-card button:hover div {
  transform: translateY(0);
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-direction: column;
  background: #a8ff35;
  padding: 8.75rem 0;
}
.join h1 {
  font-size: 4.5rem;
  font-weight: 900;
  max-width: 46.25rem;
  line-height: 5.04rem;
  text-align: center;
}
.join h1 span {
  color: #87d322;
}
.join button {
  position: relative;
  background: #000000;
  color: #ffffff;
  overflow: hidden;
  border: 1px solid #000000;
}
.join button div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: all 0.3s linear;
  transform: translateY(100%);
}
.join button span {
  position: relative;
  z-index: 2;
}
.join button:hover {
  color: #000000;
  border-color: #000000;
  background: transparent;
}
.join button:hover div {
  transform: translateY(0);
}

@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -100%;
  }
}/*# sourceMappingURL=styles.css.map */